.selector-for-some-widget {
  box-sizing: content-box;
}

.pink {
  background-color: #dc143c;
}

.blue {
  background-color: #003;
  font-size: 6rem;
}

.div {
  width: 100px;
  height: 50px;
}

.stats {
  font-size: 16px
  color: #ff000;
  line-height: 100%
}

.divider {
  border-left: solid #A9A9A9;
}

.navbar-person {
  display: flex;
  border: 2px solid #ccc;
  flex: 1;
  margin: 5px;
	background: #1C1C1C;
	text-align: center;
	font-size: 1.5em;
}